<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提现记录</title>
    {{{include 'layout/header'}}}
    <link href="{{{resourcesUrl}}}/css/font-awesome.min.css?{{{fileVersion}}}" rel="stylesheet">
</head>
<body class="gray-bg" id="app">


<div class="col-sm-12">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>提现记录</h5>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th>创建时间</th>
                    <th>提现单号</th>
                    <th>提现金额(元)</th>
                    <th>状态</th>
                    <th>申请说明</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in items">
                    <td v-text="new Date(parseInt(item.withdrawDetail.createTime)).format('yyyy-MM-dd hh:mm:ss')"></td>
                    <td v-text="item.withdrawDetail.withdrawNo"></td>
                    <td v-text="item.withdrawDetail.price"></td>
                    <td style="cursor: pointer;" :title="item.withdrawDetail.auditDesc=='undefined'?'':item.withdrawDetail.auditDesc">
                        <span v-text="status[item.withdrawStatus]" ></span>
                        <i class="fa fa-file-text-o" v-show="item.withdrawDetail.auditDesc && item.withdrawDetail.auditDesc!='undefined'" style="cursor: pointer" :title="item.withdrawDetail.auditDesc"></i>
                    </td>
                    <td >
                        <span v-text="item.withdrawDetail.desc" :title="item.withdrawDetail.desc" style=" width: 300px;overflow: hidden;text-overflow: ellipsis;display: block;">
                        </span>

                    </td>
                </tr>
                <tr class="no-records-found" style="display: none; text-align: center;" v-show="!items || items.length<1"><td colspan="5">没有更多记录</td></tr>
                </tbody>
            </table>
            <div id="pagination"></div>
        </div>

    </div>
</div>
</div>

{{{include 'layout/footer'}}}
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/lib/plugins/layer/laypage/laypage.js?{{{libVersion}}}" charset="utf-8"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/page/presentRecord.js?{{{fileVersion}}}" charset="utf-8"></script>
</body>
</html>