<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应商信息</title>
    {{{include 'layout/header'}}}
</head>
<body class="gray-bg"  id="supplierInfo">

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>供应商信息</h5>
    </div>
    <div class="ibox-content">
        <div class="row" style="margin-left:35px;">
            <div class="col-sm-6">
                <form role="form"  class="form-horizontal">
                    <div class="form-group">
                        <label>供应商名称：</label>
                        <p class="form-control-static"  v-text="name"></p>
                    </div>
                    <div class="form-group">
                        <label>联系人：</label>
                        <p class="form-control-static" v-text="contact_name"></p>
                    </div>
                    <div class="form-group">
                        <label>联系人电话：</label>
                        <p class="form-control-static" v-text="contact_mobile"></p>
                    </div>
                    <div class="form-group">
                        <label>客服姓名：</label>
                        <input id="service_name"  v-model="service_name" maxlength="7" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>客服电话：</label>
                        <input id="service_phone" v-model="service_phone" maxlength="13" length="13" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <!--<input type="button" class="btn btn-white" @click="back" value="返回" style="float: right;margin-right: 50px;"/>-->
                        &nbsp;&nbsp;<input type="button" class="btn btn-primary" @click="checkNameTel" v-show="isShowBtn" value="确定" style="float: left;margin-left: -72px;"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{{{include 'layout/footer'}}}
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/security/common.js?{{{fileVersion}}}" charset="utf-8"></script>

<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/page/supplierInfo.js?{{{fileVersion}}}" charset="utf-8"></script>

</body>
</html>