<script src="{{{resourcesUrl}}}/sys/libs/jquery.min.js?{{{libVersion}}}"></script>
<script src="{{{resourcesUrl}}}/sys/plugins/layer/layer.js?{{{libVersion}}}"></script>
<script src="{{{resourcesUrl}}}/sys/libs/bootstrap.min.js?{{{libVersion}}}"></script>
<script  src="{{{resourcesUrl}}}/javascripts/requestUrl.js?{{{fileVersion}}}" charset="utf-8"></script>
<script src="{{{resourcesUrl}}}/sys/libs/vue.min.js?{{{libVersion}}}"></script>
<script src="{{{resourcesUrl}}}/sys/plugins/jqgrid/grid.locale-cn.js?{{{libVersion}}}"></script>
<script src="{{{resourcesUrl}}}/sys/plugins/jqgrid/jquery.jqGrid.min.js?{{{libVersion}}}"></script>
<script src="{{{resourcesUrl}}}/sys/plugins/ztree/jquery.ztree.all.min.js?{{{libVersion}}}"></script>
<script src="{{{resourcesUrl}}}/sys/libs/jquery.base64.js?{{{libVersion}}}"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/Common.js?{{{fileVersion}}}" charset="utf-8"></script>
<script src="{{{resourcesUrl}}}/sys/javascripts/common.js?{{{libVersion}}}"></script>
<script type="text/javascript">
    $(function(){
        $("body").bind("keydown", function(event) {
            if (event.keyCode == 116) {
                location.reload();
                return false;
            }
        });
    })
</script>