<link rel="stylesheet" href="{{{resourcesUrl}}}/sys/plugins/ztree/css/metroStyle/metroStyle.css?{{{fileVersion}}}">
<link rel="stylesheet" href="{{{resourcesUrl}}}/sys/libs/bootstrap/css/bootstrap.min.css?{{{fileVersion}}}">
<link href="{{{resourcesUrl}}}/css/style.min.css?{{{fileVersion}}}" rel="stylesheet">

<script>
    var GLOBAL={
        confRoot:"{{{confRoot}}}",
        userId:"{{{userId}}}",
        userName:"{{{userName}}}",
        tenantId:"{{{tenantId}}}",
        signToken:"{{{signToken}}}",
        token:"{{{accessToken}}}",
        menus:"{{{menus}}}",
        perms:"{{{perms}}}",
    };
</script>
<base target="_blank">