
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/lib/jquery.min.js?{{{libVersion}}}" charset="utf-8"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/lib/bootstrap.min.js?{{{libVersion}}}" charset="utf-8"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/lib/plugins/layer/layer.min.js?{{{libVersion}}}" charset="utf-8"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/lib/vue.min.js?{{{libVersion}}}" charset="utf-8"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/requestUrl.js?{{{fileVersion}}}" charset="utf-8"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/Common.js?{{{fileVersion}}}" charset="utf-8"></script>
<script type="text/javascript" src="{{{resourcesUrl}}}/javascripts/security/sha/sha1.js?{{{libVersion}}}" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        $("body").bind("keydown", function(event) {
            if (event.keyCode == 116) {
               location.reload();
                return false;
            }
        });
    })
</script>

 
