<link href="{{{resourcesUrl}}}/css/bootstrap.min.css?{{{fileVersion}}}" rel="stylesheet">
<link href="{{{resourcesUrl}}}/css/style.min.css?{{{fileVersion}}}" rel="stylesheet">
<script>
    var GLOBAL={
        confRoot:"{{{confRoot}}}",
        mallRoot:"{{{mallRoot}}}",
        userId:"{{{userId}}}",
        userName:"{{{userName}}}",
        tenantId:"{{{tenantId}}}",
        signToken:"{{{signToken}}}",
        token:"{{{accessToken}}}",
        menus:"{{{menus}}}",
        perms:"{{{perms}}}",
    };
</script>
<base target="_blank">